# Dependências
node_modules/

# Variáveis de ambiente e configurações sensíveis
.env
db/connection.js

# Logs
logs/
*.log
npm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/